<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsAuthWSClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WindowsAuthWSClient.Properties.Settings>
            <setting name="WindowsAuthWSClient_WebService2_Service" serializeAs="String">
                <value>http://localhost:61297/Service.asmx</value>
            </setting>
        </WindowsAuthWSClient.Properties.Settings>
    </applicationSettings>
</configuration>